.Burger{
    width: 100%;
    margin: auto;
    height: 358px;
    text-align: center;
    overflow-y: scroll;
    font-weight: bold;
    font-size: 1.2rem;
}

.Burger::-webkit-scrollbar{
    display: none;
}
.Burger {
    -ms-overflow-style: none;
    scrollbar-width: none;
}